/*
margin skappar mellanrum
background-color byter bakgrundsfärg
width besämer hur bred den är horizontelt
height bestämmer höjden, vertikalt
padding top lägger till mellanrum till den övre delen
color ändrar färg
font family ändrar fonten
font size ändrar storleken på texten, fonten
letter-spacing ändrar mellanrummet mellan bokstäver
float
textdecoration: none tar bart decorativa saker från text
padding generelt lägger till mellanrum



*/

/*här blir bakgrunden en specifik vit färg och man sätter*/
body
{
    margin:0px;
    background-color:gainsboro;
}

/*De med # är dem som använder div
Man sätter margin auto för att centrera element horisontellt eller för att fördela ledigt utrymme automatisk i en layout
*/
#wrapper
{
    width: 1400px;
    margin: auto;
}


#top
{
    background-color:#252525;
    height: 24px;
    width: 100%;
    padding-top: 10px;
    color: #ffffff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}


#toplinks
{
    margin-left: 115px;
    float:left;
}

#top a
{
    color: #ffffff;
    text-decoration:none;
}

/*a:hover gör så att länkarna blir röda när man hur muspekaren över dem*/
#top a:hover 
{
    color: #f7641d;
}

.divider
{
    padding-left: 8px;
    padding-right: 8px;
}

#rightinfo
{
    float:right;
    margin-left: 220px;
}

/*Dehär under stylar alls som är i div header  och dem andra # med namnedn right, left och mid styler specifikt dem delarna på webbsidan*/
#header
{
    height:81px;
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    font-family: Verdana, Geneva, sans-serif;
    font-size:12px;
    letter-spacing:1px;
}

#header a
{
    color:#000000;
    text-decoration:none;
}

#header a:hover 
{
    color:f6741d;
}

#headerleft
{
    float:left;
    margin-left: 144px;
    padding-top: 34px;
}

#headermid
{
    float:left;
    padding-left:120px;
}

#headerright
{
    float:left;
    margin-left: 120px;
    padding-top:34px;
}